.row.footer-info {
    background: #ECECEC;
}

.row.footer-info.text-color-footer {
    color: #1E5474;
    border-top: 2px solid #337ab7;
    margin-top: 2%;
}

.container-fluid.label-footer {
    background: #333;
}

.container-fluid.label-footer  p {
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-style: italic;
}


.back-form {
    /* margin-bottom: 2%; */
    background: #f5f5f5;
    margin-top: 1%;
    border-radius: 1%;
    padding: 3%;
}

.keranjang {
    float: right;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
}

.logo {
    display: block;
    padding: 3px;
    margin-right: 10px;
}

.margin-top-body {
    margin-top: 70px;
.row.footer-info {
    background: #f8f8f8;
}

.row.footer-info.text-color-footer {
    color: #9d9d9d;
    border-top: 2px solid #337ab7;
}

.container-fluid.label-footer {
    background: #333;
}

.container-fluid.label-footer  p {
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-style: italic;
}


.back-form {
    margin-bottom: 2%;
    background: #ececec;
    margin-top: 1%;
    border-radius: 1%;
    padding: 3%;
}

.keranjang {
    float: right;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
}

.logo {
    display: block;
    padding: 3px;
    margin-right: 10px;
}

.margin-top-body {
    margin-top: 1%;
.row.footer-info {
    background: #ECECEC;
}

.row.footer-info.text-color-footer {
    color: #1E5474;
    border-top: 2px solid #337ab7;
}

.container-fluid.label-footer {
    background: #333;
}

.container-fluid.label-footer  p {
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-style: italic;
}


.back-form {
    margin-bottom: 2%;
    background: #ececec;
    margin-top: 1%;
    border-radius: 1%;
    padding: 3%;
}

.keranjang {
    float: right;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
}

.logo {
    display: block;
    padding: 3px;
    margin-right: 10px;
}

.margin-top-body {
    margin-top: 70px;
.row.footer-info {
    background: #f8f8f8;
}

.row.footer-info.text-color-footer {
    color: #9d9d9d;
    border-top: 2px solid #337ab7;
}

.container-fluid.label-footer {
    background: #333;
}

.container-fluid.label-footer  p {
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-style: italic;
}


.back-form {
    margin-bottom: 2%;
    background: #ececec;
    margin-top: 1%;
    border-radius: 1%;
    padding: 3%;
}

.keranjang {
    float: right;
    background: transparent;
    border: 1px solid #ccc;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
}

.logo {
    display: block;
    padding: 3px;
    margin-right: 10px;
}

.margin-top-body {
    margin-top: 1%;
}
.tengah{
    text-align: center;
}